PA3/__MACOSX/._GoogleNews-vectors-rcv_vocab.txt.tar
PA3/__MACOSX/._EN-wform.w.2.ppmi.svd.500.rcv_vocab.txt.tar
PA3/SAT-package-V3.txt
PA3/GoogleNews-vectors-rcv_vocab.txt.tar.zip
PA3/GoogleNews-vectors-rcv_vocab.txt.tar
PA3/EN-wform.w.2.ppmi.svd.500.rcv_vocab.txt.tar
PA3/EN-wform.w.2.ppmi.svd.500.rcv_vocab-1.txt.tar.zip
PA3/dist_sim_data.txt
